@charset "UTF-8";
/* Main Styles for CEST Website */

main {
    padding: 0 0 20vh 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-content: center;
    column-gap: 25px;
    background-color: #0054A8;
    padding: 50px 70px;
}

body {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: urbane, sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    font-size: 25px;
    margin: 0;
}

h2 {
    font-family: proxima-nova, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    color: #FFFFFF;
    letter-spacing: 6px;
    font-size: 22px;
    margin: 0;
    cursor: pointer;
}

h3 {
    font-family: urbane, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #0054A8;
    font-size: 25px;
    margin: 0 0 25px 0;
}

h4 {
    font-family: urbane, sans-serif;
    font-weight: 400;
    color: #0054A8;
    font-size: 18px;
    margin: 0 0 10px 0;
}

p, label {
    font-family: proxima-nova, sans-serif;
    font-size: 14px;
    margin: 0;
    letter-spacing: 0;
    line-height: normal;
}

.header-subtitle {
    color: #FFFFFF;
    font-weight: 300;
    letter-spacing: 0.5px;
}

input {
    color: #FFFFFF;
    font-family: proxima-nova, sans-serif;
    font-size: 14px;
    font-style: italic;
}

.page-container {
    margin: 100px 0 0 0;
}

.page-content {
    margin: 100px 80px;
}


/* Buttons and Toggle Switches */

.button {
  background-color: #9CAABA;
  color: #FFFFFF;
  border-radius: 35px;
  font-family: urbane, sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 9px 18px;
  width: fit-content;
  cursor: pointer;
}

.button:hover {
  background-color: #0054A8;
}

.label-button {
  background-color: #e4eaf1;
  display: flex;
  gap: 10px;
  justify-content: center;
  border-radius: 13px;
  font-family: proxima-nova, sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 7px 18px 7px 10px;
  margin: 10px 10px 10px 30px;
  width: fit-content;
  cursor: pointer;
}

.label-button:hover {
  background-color: #d0dae6;
}

.roi-button {
  margin: 20px 5px;
}

.major-button {
  margin-top: 80px !important;
  letter-spacing: 2px;
  background-color: #0054A8 !important;
}

.major-button:hover {
  background-color: #197adb !important;
}

.large-button {
  background-color: #FFFFFF;
  color: #0054A8;
  border-radius: 35px;
  font-family: urbane, sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 10px 20px;
  margin: 20px 0 0 0;
  width: fit-content;
  cursor: pointer;
}

.large-button:hover {
  background-color: #197adb;
  color: #FFFFFF;
}


.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 26px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9CAABA;
    border-radius: 20px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #0054A8;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #0054A8;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }